<div class="jumbotron">
  <h1 class="display-4">Hello, I am Kristen!</h1>
  <p class="lead">This page is a collection of all my projects I have created! </p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/projects/" role="button">Learn more</a>
  </p>
</div>